# Ignore folders, and all untracked folders folders
dataset/
extracted/
imc19_dataset/
extracted_keywords/
cvelistV5-main/
controlled/entropy/





# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
logs/
*.log
sample.json
sample.csv



# ignor json everywhere
**/*.json
